* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: #666;
    height: fit-content;
}


/* ==== SECTION ABOUT ME ==== */

#main-container {
    max-width: 780px;
    box-sizing: border-box;
    display: block;
    margin-inline: auto;
}
.section-about-me {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: #666;
    height: 100vh;
}

.count-down-container {
    padding: 2rem;
}

.section-about-me .content {
    flex: 1 1 400px;
}

.pictures-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.section-about-me .profile-image {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    align-items: center;
    margin-inline: auto;
}

.section-about-me .profile-image h4 {
    text-align: center;
    color: white;
    padding: 5px;
    border: 2px solid #2980b9;
    border-radius: 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.section-about-me .profile-image img {
    width: 90%;
    max-width: 200px;
    align-items: center;
    border: 2px solid #2980b9;
    border-radius: 15px;
}

.section-about-me .content .title {
    font-size: 45px;
    text-transform: uppercase;
    color: #2980b9;
    text-align: center;
}

.section-about-me .content p {
    color: white;
    padding: 5px 0;
}

.section-about-me .content .count-down {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.section-about-me .content .box {
    background: #fff;
    border: 1px solid #3333;
    text-align: center;
    flex: 1 1 20px;
}

.section-about-me .content .box h3 {
    font-size: 50px;
    color: #333;
}

.section-about-me .content .box span {
    color: #2980b9;
    font-size: 20px;
}
/* ==== SECTION ABOUT ME ==== */


/* ==== SECTION MY PYCTURES ==== */
.section-mypictures {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    align-items: center;
    margin-inline: auto;
}

audio {
    visibility: visible;
    margin-bottom: 20px;
}


.section-mypictures img {
    width: 90%;
    max-width: 200px;
    align-items: center;
    border: 2px solid #2980b9;
    border-radius: 15px;
}

/* ==== SECTION MY PYCTURES ==== */




/* MEDIA QUERIES*/

@media (max-width: 500px){

    /* ==== SECTION ABOUT ME ==== */
    .section-about-me {
        padding: 20px;
    }

    .section-about-me .content {
        text-align: center;
    }

    .section-about-me .content .title {
        font-size: 35px;
    }

    .section-about-me .content p {
        font-size: 14px;
    }

    .section-about-me .content .count-down {
        gap: 5px;
    }

    .section-about-me .content .count-down .box h3 {
        font-size: 30px;
    }

    .section-about-me .content .count-down .box span {
        font-size: 15px;
    }
    /* ==== SECTION ABOUT ME ==== */



    /* ==== SECTION MY PYCTURES ==== */

    .section-mypictures {
        display: flex;
        flex-direction: column;
        flex: 1 1 400px;
        align-items: center;
        margin-inline: auto;
        margin-block: 20px;   
    }
    
    .section-mypictures img {
        width: 90%;
        max-width: 200px;
        align-items: center;
        border: 2px solid #2980b9;
        border-radius: 15px;
        }

    /* ==== SECTION MY PYCTURES ==== */
}

/* MEDIA QUERIES*/
